#main-navbar {
	background-color: red;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#navbar-container {
	float: left;
	position: relative;
	left: 50%;
}
#navbar-container ul {
	text-align: center;
	position: relative;
	margin: 0;
	padding: 0;
	right: 50%;
	float: left;
}
#navbar-container li {
	float: left;
	display: inline;
	list-style: none;
}
#navbar-container a {
	float: left;
	padding: 10px 20px;
}
#navbar-container a:hover {
	display: block;
	background-color: green;
}
#onpage a {
	text-decoration: underline overline;
}
#sidebar {
	right: 0%;
	width: 20%;
	height: 100%;
	position: fixed;
	background-color: #000;
}
#sidebar ul {
	text-align: center;
	background-color: red;
	list-style: none;
}
#sidebar a {
	color: #fff;
	text-decoration: none;
}
#sidebar a:hover {
	display: block;
	background-color: green;
}
	



